
#searchBar{
   background-color: #333;
    border: none;
}
#searchBar a{
    color: #ccc;
}

#searchBar a:hover{
    color: #FFF;
}

.title{
    color: #c9a545;
}




































/*红包*/

/*
#redb{
    background: url(http://img.res.szgla.com/yz/images/zt/login161018/redb.png) no-repeat;
    width: 449px;
    height: 433px;
    position: fixed;
    left: 50%;
    margin-left: -225px;
    font-size: 25px;
    color: #fedd80;
    line-height: 43px;
    z-index: 1000;

}
*/
















