.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding: 0px;
    margin: 0;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding-left: 0px;

    margin: 0;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    padding: 5px;
    margin: 0;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding: 5px;
    margin: 0;
}

nav {
    padding-left: 0
}

body {
    background-color: #101010;
    height: 5000px;
    color: #e3e3e3;
    font-size: 13px;
}

#header {
    background: url("../images/head-logo.jpg") no-repeat;
    height: 97px;
    background-size: 1200px;
    text-indent: -999px;

}

#headerNav {
    border-bottom: 3px solid #9b2602;
    margin-top: 97px;
    height: 60px;
}

#navList li {
    border-radius: 5px;
}

#navList li a {
    font-size: 18px;
    color: #ccc;
}

#sliderLeft {
    background: url("../images/slider.png") no-repeat;
    width: 150px;
    height: 300px;
    position: fixed;
    left: -20px;
    bottom: 0;
    background-size: 85% 100%;
}

#sliderRight {
    background: url("../images/slider2.png") no-repeat;
    width: 150px;
    height: 300px;
    position: fixed;
    right: -40px;
    bottom: 0;
    background-size: 75% 100%;
}

#mouse {
    background: url("../images/mouse.jpg") no-repeat;
    height: 93px;
}












